html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: Arial, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
}

p,
label {
  font-family: Arial, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}
