html,
body {
  height: 100%;
  width: 100%;

  font-family: monospace;
}

#app {
  display: flex;

  min-height: 100%;
  min-width: 100%;
}

p,
label {
  font-family: Arial, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}
.a-clear{
  text-decoration: none;
  color: #262626;
}
.a-clear:hover{
  text-decoration: underline;
  color: #026cdf;
}
.font-50 {
  font-size: 50px;
}
