footer {
  position: fixed;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
  border-top: 1px solid #666;
  width: 100%;
  .medias-wrapper{
    &-single{
      display: inline-block;
      height: 50px;
      width: 50px;
    }
  }
  a {
    color: #41addd;

    &:hover {
      color: #6cc0e5;
    }
  }
}
