footer {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #666;
  width: 100%;
  .medias-wrapper{
    &-single{
      display: inline-block;
      margin-right: 10px;
    }
  }
  a {
    color: #41addd;

    &:hover {
      color: #6cc0e5;
    }
  }
}
@media (max-height: 700px) {
  footer {
    position: initial;
  }
}
