footer {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  left: 2.5%;
  border-top: 1px solid gold;
  width: 95%;
  .medias-wrapper{
    &-single{
      display: inline-block;
      margin-right: 10px;
    }
  }
  a {
    color: #41addd;

    &:hover {
      color: #6cc0e5;
    }
  }
}
