.home-page {
  &_hey {
    font-size: 120px;
    max-width: 80%;
    margin: 50px auto 0 auto;
    text-align: center;
  }
  &_introduce {
    font-size: 30px;
    max-width: 80%;
    padding-top: 102px;
    margin: 0 auto;
    font-family: monospace;
    text-align: center;
    &-line{
      font-size: 30px;
      max-width: 80%;
      padding-top: 35px;
      margin: 0 auto;
      font-family: monospace;
      text-align: center;
    }
  }
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .nav-bar {
    float: right;
    text-align: center;
  }


  .linkedin{
    width: 21px;
    height: 18px;
  }
  h2 {
    font-size: 1.5em;
  }

  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      border-bottom: 1px dotted #999;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}
