body p{
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  height: 100%;
  position: relative;
}
.app-wrapper {
  position: relative;
  //background: url("https://brycehao77.s3.us-east-2.amazonaws.com/2U3A3976.JPG") no-repeat center center fixed;
  //background-size: cover;
  width: 100%;
  margin: 0;
  display: flex;
  min-height: 100%;
  padding: 0;
  flex-direction: column;
}
