body p{
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.app-wrapper {
  position: relative;
  width: 85%;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;
}
